.loader {
  width: 42px;
  height: 42px;
  border: 4px solid #333;
  border-top: 4px solid #845ef7;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
