.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 20px;
  margin-bottom: 8px;
}

.empty {
  color: #a1a1aa;
}

.card {
  background: #111216;
  border-radius: 16px;
  padding: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #a1a1aa;
}

.tipo {
  text-transform: uppercase;
}

.status {
  color: #1db954;
}

.numero {
  margin: 16px 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.saldo {
  font-size: 13px;
  color: #a1a1aa;

  strong {
    display: block;
    margin-top: 4px;
    font-size: 18px;
    color: white;
  }
}
