.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select {
  background: #111216;
  border: 1px solid #1c1d22;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.empty {
  color: #a1a1aa;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #1c1d22;

  span {
    font-size: 12px;
    color: #a1a1aa;
  }
}

.credit {
  color: #1db954;
  font-weight: 600;
}

.debit {
  color: #e5533d;
  font-weight: 600;
}
