.profile {
  background: #0f172a;
  padding: 20px;
  border-radius: 14px;
  color: #fff;

  p {
    margin-bottom: 12px;
  }

  button {
    margin-top: 16px;
    background: #ef4444;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
  }
}
