.plans {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.free,
.pro {
  background: #0f172a;
  padding: 20px;
  border-radius: 14px;
  color: #fff;
}

.pro {
  border: 1px solid #2dd4bf;

  strong {
    display: block;
    margin: 12px 0;
    color: #2dd4bf;
  }

  button {
    background: #2dd4bf;
    color: #020617;
    border: none;
    padding: 14px;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
  }
}
