/* RESET BÁSICO – NÃO MEXA DEPOIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #f4f6fb;
  color: #1f2937;
}
